body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

header {
  text-align: center;
  padding: 50px 20px;
  background: #1f2937;
}

header h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1f2937;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}

.results p {
  font-size: 20px;
}
